.markdown {
  //height: 100%;

  img {
    display: block;
    padding-bottom: 1rem;
    margin: 0 auto;
  }

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  .list li {
    padding-left: 1em;
    text-indent: -1em;
  }

  .list:before {
    content: "—";
    padding-right: .5rem;
  }

}
