html {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1.3;
}
*, ::before, ::after { box-sizing: inherit; }

img {
  max-width: 100%;
}


/***************/
/* typography */
/**************/
.f3 { font-size: 1rem; }
.sans-serif { font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; }
.measure { max-width: 22em; }

.link {
  color: blue;
  text-shadow: .03em 0 white, -.03em 0 white, 0 .03em white, 0 -.03em white, .06em 0 white, -.06em 0 white, .09em 0 white, -.09em 0 white, .12em 0 white, -.12em 0 white, .15em 0 white, -.15em 0 white;
  text-decoration: none;
  background-image: linear-gradient(white, white), linear-gradient(white, white), linear-gradient(blue, blue);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 95%, 100% 95%, 0% 95%;
  &:before, &:after, *, *:before, *:after {
    text-shadow: none;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

.bullet:before {
  content: "—";
  padding-right: .5rem;
}

.out:after {
  font-size: .8rem;
  content: '\02197' ;
}

/***************/
/*** spacing ***/
/**************/
.ma0 { margin: 0rem; }
.ma1 { margin: 1rem; }
.ma2 { margin: 2rem; }
.mt1 { margin-top: 1rem; }
.mb0125 { margin-bottom: .125rem; }
.mb3 { margin-bottom: 3rem; }
.pa1 { padding: 1rem; }
.pt1 { padding-top: 1rem; }
.pr1 { padding-right: 1rem; }
.pb1 { padding-bottom: 1rem; }
.pr05 { padding-right: .5rem; }

/***************/
/** position **/
/**************/
.r-0 { right: 0 !important;}
.l-0 { left: 0 !important;}
.t-0 { top: 0 !important; }
.absolute { position: absolute !important; }
.fixed { position: fixed !important; }

/***************/
/**** hover ****/
/**************/
.dim { opacity: 1; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:hover, .dim:focus { opacity: .5; -webkit-transition: opacity .15s ease-in; transition: opacity .15s ease-in; }
.dim:active { opacity: .8; -webkit-transition: opacity .15s ease-out; transition: opacity .15s ease-out; }


/***************/
/***** etc *****/
/**************/
.shadow { box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25); }
.bg-white { background: white; }
.h-100 { height: 100%; }
.h-1 { height: 1rem; }
.h-2 { height: 2rem; }
.z-100 { z-index: 100; }
.scroll { overflow: scroll; }
.mw-70 { max-width: 70%; }
.w-1 { width: 1rem; }
.w-50 { width: 50%; }
.flex { display: flex; }
.inline-block { display: inline-block; }
.justify-between { justify-content: space-between;}
.pe-none { pointer-events: none; }
.pe-initial { pointer-events: initial; }




.split p, .split-flex p {
  padding: 20px;
}

.split, .split-flex {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
}

.gutter {
  background-color: #fff;

  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.25);

  background-repeat: no-repeat;
  background-position: 40% 50%;

  pointer-events: initial;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
