<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

  {% include head.html %}

  <body class="sans-serif ma2 measure">

    <nav>
      <section class="mb3">
        <h1 class="f3 ma0">Trevor Carr</h1>
        <p class="ma0">I’m a multidiciplinary designer and front-end developer currently pursuing a BFA at <a class="link dim out" href="#">MICA</a> and working as 50% of <a class="link dim out" href="#">Default Value</a>.</p>
      </section>
      <section class="mb3">
        <h2 class="f3 ma0">Links</h2>
        <ul class="ma0">
          {% for item in site.links %}
            <li><a class="link dim {% if item.out %}out{% endif %}" href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </section>
      <section class="mb3">
        <h2 class="f3 ma0">Work</h2>
        <ul class="ma0">
          {% for project in site.posts %}
            <img src="{{project.photo}}"/>
            <li><a class="link dim" href="{{project.url}}">{{project.title}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </nav>

    <main class="shadow">
      {{ content }}
    </main>

  </body>

</html>
